h1 {
    color: #000020;
    font-family: Helvetica, Arial;
    font-size: 25px;
    text-align: center;
    border: 50px solid #bbbbbb;
  }

  p {
    color:#000020;
    font-family: Helvetica, Arial;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    <!--width: 400pt;-->
  }