body {
    font-family: 'Poppins', sans-serif;
    background-color: #000010;
    background-image: url(../Images/apoptosome_bg.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
  }

  .rotate {
    animation: rotation 900s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .intro {
    background-color: #88005f;
    padding: 100px;
    color: #ffffff;
    font-size: 19px;
    line-height: 25px;
  }

  .footer {
    background-color: #000000;
    padding: 25px 100px 25px 100px;
    color: #ffffff;
    font-size: 19px;
    line-height: 25px;
    text-align: right;
  }

  .site_header {
    color: #FFFFFF;
    font-size: 38px;
    
  }

  img {
    width: 100vh;
    filter: drop-shadow(0px 0px 20px #0000FF);
  }